<%- include('partials/header') -%>

    <div class="container shrink">
        <section id="header">
            <h1>TodoList</h1>
        </section>
        <section id="todolist">
            <a href="/login" class="btn btn-lg btn-primary">
                Login
            </a>
            <!-- <a href="/auth/google" class="btn btn-lg btn-primary">
                Login with Google
            </a> -->
            <a href="/register" class="btn btn-lg btn-primary">
                Register
            </a>
            <!-- <a href="/auth/google" class="btn btn-lg btn-primary">
                Register with Google
            </a> -->
        </section>
    </div>

    <%- include('partials/footer') -%>